{% extends 'main/base.html' %} {% block title %}Sign Up{% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<form method="post">
  {% csrf_token %}{{form|crispy}}
  <p>Have an account? Login <a href="/login"><strong>Here</strong></a>!</p>
  <button type="submit" class="btn btn-success">Register</button>
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}