/* Style for the main container */


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Style for animated navbar buttons */
.navbar {
    background-color: rgb(4, 6, 100); /* Background color for the navbar */
}

.navbar a {
    float: left;
    font-size: 18px;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add animation to button hover */
    font: 1em sans-serif;
    font-weight: bold;
    border-radius: 10px; 
}

.navbar a:hover {
    background-color: rgb(66, 105, 233); /* Change button background color on hover */
    color: black;
    border-radius: 10px; 
}


.dropdown-toggle{ 

    
    color: white !important; /* Muuttaa menun värin, mitä etsin pitkään!!!! */
}

.dropdown-toggle.active{


    color: white;
}

.dropdown-toggle.show{

    color: white;
}


.dropdown-menu.show{

    background-color: transparent;
}
                       
/* Style for the dropdown menu */
.dropdown-menu {
    
    border: none; /* Remove borders */
    box-shadow: none; /* Remove box shadow */
}

.dropdown-menu a {
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
    font: 1em sans-serif;
    font-weight: bold;
}

.dropdown-menu a:hover {
    background-color: rgb(66, 105, 233); /* Change menu item background color on hover */
    color: white;
}


/* Style for the active dropdown item */
.dropdown-item.active {
 
    color: white;
    font-size: 18px;
    border-radius: 10px; 
}

.bs-example {
    margin: 30px;
    height: 120px;
    overflow: scroll;
}

.button {
    height: 30px;
}


